* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Contenedor
{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    grid-template-columns: 25% 30% 45%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: 'menulat encabezado columna1'
                        'menulat encabezado columna1'
                        'piepagina piepagina columna1';
    justify-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-items: stretch;
}
.Caja
{
    border: 4px solid black;
    /*height: 100px; 
    width: 100px;*/
    background-color: aqua;
    /*width: calc((100% / 6) - 4px);*/
    text-align: center;
}
#Caja1 {grid-area: menulat; }
#Caja2{ grid-area: encabezado;}
#Caja3{ grid-area: columna1;}
#Caja4 {grid-area: piepagina;}



@media screen and (max-width: 900px)
{
    .Contenedor{
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: 20% 20% 20% 40%;
        grid-area: 'menulat menulat columna1'
                    'encabezado encabezado columna1'
                    'piepagina piepagina columna1'
                    '   columna1';
    }
}
/*
'menulat menulat columna1'
                    'encabezado encabezado columna1'
                    'piepagina piepagina columna1';
*/